<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before"><!-- layout_generate_blocks_after -->
        <observer name="swissup_fontawesome_add_assets" instance="Swissup\FontAwesome\Observer\AddPageAssets" />
    </event>
</config>
