<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_fontawesome" translate="label" type="text" sortOrder="657" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Font Awesome</label>
            <tab>swissup</tab>
            <resource>Swissup_FontAwesome::config_fontawesome</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_cdn" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use CDN</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cdn_embed_code" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Embed Code (Optional)</label>
                    <comment>BETA VERSION. CSS EMBEDS ARE SUPPORTED ONLY. Get your embed code at https://cdn.fontawesome.com/embed-codes</comment>
                    <depends>
                        <field id="use_cdn">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
